modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38793
externalPort = 8099

[[ports]]
localPort = 39025
externalPort = 8008

[[ports]]
localPort = 39661
externalPort = 6000

[[ports]]
localPort = 40123
externalPort = 3002

[[ports]]
localPort = 40185
externalPort = 8000

[[ports]]
localPort = 40625
externalPort = 3003

[[ports]]
localPort = 41063
externalPort = 3000

[[ports]]
localPort = 41853
externalPort = 4200

[[ports]]
localPort = 42305
externalPort = 5173

[[ports]]
localPort = 42479
externalPort = 8081

[[ports]]
localPort = 43043
externalPort = 6800

[[ports]]
localPort = 44535
externalPort = 5000

[[ports]]
localPort = 45197
externalPort = 8080

[[ports]]
localPort = 46527
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
